<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Contents</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/videosBatch.css">
    <script src="/javascripts/anti-devtools.js"></script>
<script src="/javascripts/global.js"></script>
</head>

<body>
    <header>
        <a href="/saved/batches/<%= batchNameSlug %>/subject/<%= subjectSlug %>/topics"><i class="ri-arrow-left-line"></i></i></a>
        <h1><%= videosBatch.name %></h1>
    </header>
    <section class="list overflow-x-auto no-scrollbar">
        <button id="lectures" class="active">Lectures</button>
        <button id="notes" class="inactive">Notes</button>
        <button id="dpp" class="inactive">DPP</button>
        <button id="dppVideos" class="inactive">DPP VIDEOS</button>
    </section>
    <br>
    <br>
    <div id="content">
        <div id="lectures-content" batchNameSlug="<%= batchNameSlug %>" subjectSlug="<%= subjectSlug %>"
            chapterSlug="<%= chapterSlug %>">
            <section class="container">
                <% if (videosBatch.videosSch.length> 0) { %>
                <% videosBatch.videosSch.forEach(video=> { %>
                    <% if (video.videoDetails.videoUrl) { %>
                        <div video-url="<%= video.videoDetails.videoUrl %>" batch-slug="<%= batchNameSlug %>" class="video-card"
                            onclick="sendVideoUrl(this)">
                    <% } else { %>
                        <div video-url="<%= video.videoDetails.embedCode %>" batch-slug="<%= batchNameSlug %>" class="video-card"
                            onclick="freeVideoUrl(this)">
                    <% } %>

                            <div class="thumbnail-container">
                                <img class="thumbnail" src="<%= video.videoDetails.image %>"
                                    alt="Thumbnail">
                                <img class="play-icon" src="/images/blue-play-icon.svg" alt="Play icon">
                            </div>
                            <div class="info">
                                <div class="info__time">
                                    <div class="date">
                                        <%= video.date %>
                                    </div>
                                    <div class="duration">
                                        <img class="clock-icon" src="/images/clock.svg" alt="Clock">
                                        <span>
                                            <%= video.videoDetails.duration %>
                                        </span>
                                    </div>
                                </div>
                                <p class="title">
                                    <% if (video.videoDetails.name.length > 60) { %>
                                        <%= video.videoDetails.name.slice(0, 60) + '...' %>
                                    <% } else { %>
                                        <%= video.videoDetails.name %>
                                    <% } %>
                                </p>
                            </div>           
                                        <% if (video.videoDetails.videoUrl) { %>
                                            <% const parts=video.videoDetails.videoUrl.split('/'); const
                                                videoId=parts[parts.length - 2]; %>
                                                <div class="button-div" id="watchButton" video-url="<%= video.videoDetails.videoUrl %>" onclick="event.stopPropagation(); sendVideoUrl(this)">
                                                    Play
                                                </div>
                                                <div class="download"
                                                    onclick="event.stopPropagation(); copyDownloadLink2('<%= videoId %>')">
                                                    <button>1dm Download Link</button>
                                                </div>
                                                <% } %>
                                </div>
                                <% }); %>
                        <% } else { %>
                            <img src="/images/coming-soon.png" alt="Coming Soon">
                            <% } %>

            </section>
        </div>
        <div id="notes-content" batchNameSlug="<%= batchNameSlug %>" subjectSlug="<%= subjectSlug %>"
            chapterSlug="<%= chapterSlug %>" style="display: none;">
            <section class="container"></section>
        </div>
        <div id="dpp-content" batchNameSlug="<%= batchNameSlug %>" subjectSlug="<%= subjectSlug %>"
            chapterSlug="<%= chapterSlug %>" style="display: none;">
            <section class="container"></section>
        </div>
        <div id="dppVideos-content" batchNameSlug="<%= batchNameSlug %>" subjectSlug="<%= subjectSlug %>"
            chapterSlug="<%= chapterSlug %>" style="display: none;">
            <section class="container"></section>
        </div>
    </div>

    <script>
        function copyDownloadLink2(videoId, event) {
            const dashboardLink = `https://studywithme-alpha.vercel.app/download/${videoId}/master.m3u8`;
            const tempInput = document.createElement('input');
            tempInput.value = dashboardLink;
            document.body.appendChild(tempInput);
            tempInput.select();
            tempInput.setSelectionRange(0, 99999);
            document.execCommand('copy');
            document.body.removeChild(tempInput);
            alert("1dm download link copied to your clipbord ✅✅")
        }
    </script>
    <script>
        const PW_TOKEN = '<%- typeof token !== "undefined" ? token : "" %>';
        const PW_PARENT_ID = '<%- typeof parentId !== "undefined" ? parentId : "" %>';
    </script>
    <script src="/javascripts/savedVideoBatch.js"></script>
</body>

</html>
